.Hierarchy {
  height: 100%;
  background: var(--tree-bg-color);
  overflow-y: auto;
  padding: 6px;
}

.Hierarchy .tree-icon {
  width: 16px;
  height: 14px;
  margin-right: 4px;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.Hierarchy .player-icon {
  background-image: url(./icons/player.svg);
}

.Hierarchy .camera-icon {
  background-image: url(./icons/camera.svg);
}

.Hierarchy .custom-icon {
  background-image: url(./icons/custom.svg);
}

.Hierarchy .smart-icon {
  background-image: url(./icons/smart.svg);
}

.Hierarchy .tile-icon {
  background-image: url(./icons/tile.svg);
}

.Hierarchy .entity-icon {
  background-image: url(./icons/entity.svg);
}

.Hierarchy .group-icon {
  background-image: url(./icons/group.svg);
}
