.Assets {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Assets .Assets-buttons span {
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

.Assets .Assets-buttons {
  padding-left: 8px;
  display: flex;
  background: var(--tree-bg-color);
  padding: 5px 0;
  position: relative;
  align-items: center;
  justify-content: center;
}

.Assets .Assets-buttons > div > div {
  display: flex;
  position: relative;
}

.Assets .Assets-buttons > div:hover > div::after,
.Assets .Assets-buttons > div > div.underlined::after {
  width: 100%;
}

.Assets .Assets-buttons .icon-custom-assets {
  background-image: url('./custom-asset-icon.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 12px;
}

.Assets .Assets-buttons > div > div::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 1px;
  background: var(--white-gray);
}

.Assets .Assets-buttons > div span {
  margin-left: 4px;
}

.Assets .Assets-buttons > div {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.Assets .Assets-buttons .Assets-buttons-left {
  align-items: center;
  padding: 8px 9px;
  position: absolute;
  left: 0;
}

.Assets .Assets-buttons .Assets-buttons-left button {
  margin: 3px 10px 3px 3px;
  display: flex;
  align-items: center;
  padding: 8px 9px;
  font-weight: 600;
  border-radius: 6px;
}

.Assets .Assets-buttons .Assets-buttons-left button svg {
  margin-right: 5px;
  stroke-width: 3;
}

.Assets .Assets-buttons .Assets-buttons-left .refresh {
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 6px;
}

.Assets .Assets-buttons .Assets-buttons-left .refresh:hover {
  background-color: var(--background-gray);
}

.Assets .Assets-content {
  background: var(--tree-bg-color) !important;
  height: 100%;
}

.Assets .Assets-content.Hide {
  display: none;
}
