.Assets {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Assets .Assets-buttons span {
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

.Assets .Assets-buttons {
  padding-left: 8px;
  display: flex;
  background: var(--tree-bg-color);
  height: 36px;
  position: relative;
}

.Assets .Assets-buttons>div>div {
  display: flex;
  position: relative;
}

.Assets .Assets-buttons>div:hover>div::after,
.Assets .Assets-buttons>div>div.underlined::after {
  width: 100%;
}

.Assets .Assets-buttons>div>div::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 1px;
  background: var(--white-gray);
}

.Assets .Assets-buttons>div span {
  margin-left: 4px;
}

.Assets .Assets-buttons>div {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  user-select: none;
}

.Assets .Assets-buttons>div:last-child svg {
  width: 16px;
  height: 16px;
}

.Assets .Assets-buttons>div:last-child {
  position: absolute;
  right: 0px;
  margin-right: 8px;
}

.Assets .Assets-content {
  background: var(--tree-bg-color) !important;
  height: calc(100% - 36px);
}
