.Block {
  display: flex;
  flex-direction: column;
}

.Block > label {
  margin: 8px 0px 4px 0px;
  color: var(--sub-text);
  font-size: 13px;
}

.Block .content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
