.Block {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  margin-top: 4px;
}

.Block > .Label {
  margin-bottom: 4.5px;
}

.Block .content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.Block.error {
  border: 1px var(--primary-main) dashed;
  padding: 5px;
  border-radius: 2px;
}

.Block:has(.content > .Field):not(:first-child) {
  margin-top: 0;
}

.Block .content:has(.Field) {
  column-gap: 8px;
}

.Block .content:has(.Dropdown.Field) {
  flex-wrap: wrap;
  row-gap: 12px;
}
