.Block .content:has(.Dropdown.Field .ErrorMessage) {
  align-items: flex-start;
}

.Dropdown {
  --drop-icon-width: 16px;
  display: flex;
  flex-direction: column;
}

.Dropdown.Field {
  flex: 1;
  width: 100%;
}

.Dropdown .DropdownContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
  background: var(--base-14);
  border-radius: 4px;
  border: 1px solid var(--base-14);
  padding: 3px 8px;
  gap: 4px;
  cursor: pointer;
  width: 100%;
}

.Dropdown.Field .DropdownContainer:hover {
  border-color: var(--base-09);
}

.Dropdown.Field .DropdownContainer.focused {
  border-color: var(--base-01);
}

.Dropdown.Field .DropdownContainer.disabled {
  background: var(--base-12);
  border-color: var(--base-12);
  color: var(--base-09);
  cursor: default;
  pointer-events: none;
}

.Dropdown.Field .DropdownContainer.error {
  border-color: var(--error-main);
}

.Dropdown.Field .DropdownContainer .DropIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  height: 16px;
  width: 16px;
}

.Dropdown.Field .DropdownContainer .DropIcon svg {
  height: 16px;
  width: 16px;
}

.Dropdown.Field .DropdownContainer .DropdownSelectedValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
