:root {
  /* Colors */
  --bg: #16141a;
  --metaverse-gradient: linear-gradient(to bottom, #060d2b, #132d7d 52%, #9763c1);
  --purple-banner: #691ea9;
  --purplish-grey-raw: 115, 110, 125;
  --white: #ffffff;
  --black: #161518;

  --light-gray: #5e5b67;
  --dark-gray: #43404a;
  --darker-gray: #242129;

  --dcl: #ff2d55;
  --dcl-dark: #9c1c34;
  --dcl-silver: #a09ba8;

  /* Share */
  --facebook: #4267b2;
  --twitter: #1da1f2;

  /* Dropdowns */
  --translusent-gray: rgba(255, 255, 255, 0.08);

  /* fonts */
  --font-family:
    system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-monospace:
    "Inconsolata", "Consolas", "Droid Sans Mono", "Monaco", "Courier New", monospace;

  --background: #18141a;
  --danger: #ffa900;
  --error: #ff0000;
  --success: #34ce77;
  --primary: #ff2d55;
  --secondary: #242129;
  --primary-hover: #ff3d61;
  --secondary-hover: #28262c;
  --secondary-on-modal: #67637033;
  --secondary-on-modal-hover: #6763704d;
  --card-on-modal: #67637033;
  --text: #ffffff;
  --secondary-text: #676370;
  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;
  --divider: #67637033;
  --dropdown: #716b7c;
  --dropdown-hover: #24212933;
  --popup: #676370;
  --popup-text: #ffffff;
  --card: #242129;
  --outline: 1px solid #00000005;
  --toast: #3d3b43;
  --toast-text: #ffffff;
  --modal: #242129;
  --dimmer: #000000dd;
  --text-area-border: #676370;
  --clear-divider: #a09ba8;
  --brightness: brightness(100);

  /* Buttons */
  /* TODO: Fix styles in the ui2 library */
  --mui-shape-borderRadius: 6px;
  /* --mui-palette-primary-main: #ff2d55; */
  --mui-palette-action-disabled: #231113;
  --mui-palette-secondary-contrast: #ffffff;
}

html {
  color: var(--white);
  font-family: var(--font-family);
  height: 100%;
}

body,
#app,
#debugger {
  padding: 0px;
  margin: 0px;
  height: 100%;
  /* The lib decentraland-ui2 adds a default background-color to the body */
  background-color: unset !important;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

footer {
  padding: 32px;
}

.Main {
  background: url(../../assets/images/background.png) #242129ff;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Debugger {
  background-color: black !important;
  color: var(--white);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.Debugger .logs {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  overflow-y: auto;
  flex: 1;
  padding: 10px;
}

a {
  color: var(--white);
}

/* Temp: override the default position so the Modal component is visible */
.MuiDialog-paper {
  position: inherit !important;
}

/* Temp: make disabled buttons look disabled */
.Button.MuiButton-root.Mui-disabled {
  opacity: 0.5;
}
