.TriggerInspector:is(.open) > .title {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 12px;
}

.TriggerInspector > .content {
  display: flex;
  flex-direction: column;
}

.TriggerInspector > .content > .Block > .content {
  display: flex;
  flex-direction: column;
}

.TriggerInspector .content .Block .content .DropdownContainer {
  flex: 1;
}

