.TriggerInspector > .content {
  display: flex;
  flex-direction: column;
}

.TriggerInspector .content .AddButton {
  align-self: flex-end;
  margin-top: 10px;
}

.TriggerInspector .content .RemoveButton {
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.TriggerInspector .content .Block .content {
  gap: 15px;
  align-items: flex-end;
}

.TriggerInspector .content .Block .content .DropdownContainer {
  flex: 1;
}
