.Button {
  border: none;
  color: #fff;
  background-color: #4b4852;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px;
}

.Button:hover:not(:disabled) {
  background-color: #6c6974;
}

.Button:disabled {
  opacity: 0.5;
  cursor: default;
}

.Button.active {
  background-color: #6c6974;
}

.Button.big {
  padding: 16px;
  font-size: 16px;
}

.Button.danger {
  background-color: var(--primary-main);
}

.Button.danger:hover,
.Button.danger.active {
  background-color: var(--primary-dark);
}

.Button.dark {
  background-color: var(--base-20);
  border: 1px solid var(--base-15);
}

.Button.dark:hover,
.Button.dark.active {
  background-color: var(--base-15);
}

.Button.blue {
  background-color: var(--accent-blue-05);
  border: 0;
}

.Button.blue:hover,
.Button.blue.active {
  background-color: var(--accent-blue-07);
}

.Button.blue.big {
  font-weight: 700;
}

.Button.text {
  background: none;
  border: none;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
}

.Button.text:has(svg) {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  line-height: 16px;
}

.Button.text:hover {
  background: none;
}

.Button.text svg {
  width: 16px;
  height: 16px;
}
