.Color.Field {
  display: flex;
  flex: 1;
}

.Color.Field > .HybridField > .InputContainer > .DropdownContainer:first-of-type {
  flex-grow: 0;
  width: 90px;
}

.Color.Field > .HybridField > .InputContainer > *:last-child {
  flex: 1;
}

.Color.Field .ColorPreview {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}
