dist
node_modules
temp
tsdoc-metadata.json
coverage
**/.DS_Store
packages/**/*.js
!packages/@dcl/ecs/jest.config.js
packages/@dcl/sdk/package-lock.json
packages/@dcl/dcl-rollup/*.js
packages/@dcl/dcl-rollup/*.d.ts
**/*.tgz
test/sdk/simple-scene
**/bin/game.js
**/bin/game.js.map
test/ecs/snippets/ui/index.js