dist
node_modules
temp
tsdoc-metadata.json
coverage
**/.DS_Store
packages/**/*.js
!packages/@dcl/ecs/jest.config.js
packages/@dcl/sdk/package-lock.json
packages/@dcl/dcl-rollup/*.js
packages/@dcl/dcl-rollup/*.d.ts
packages/@dcl/sdk/*.js
packages/@dcl/sdk/*.d.ts
packages/@dcl/sdk/internal
**/*.tgz
test/sdk/simple-scene
**/bin/game.js
**/bin/game.js.map
test/ecs/snippets/ui/index.js
**/*.js.map

test/build-ecs/fixtures/*/package-lock.json
