.Button.MuiButton-root {
  padding: 5px 20px;
  /* TODO: Fix this color in decentraland-ui2 */
  color: var(--white) !important;
  font-weight: 400;
}

.MuiButton-root + .MuiButton-root,
.MuiButton-root + .MuiButtonGroup-root,
.MuiButtonGroup-root + .MuiButton-root,
.MuiButtonGroup-root + .MuiButtonGroup-root {
  margin-left: 10px;
}

.Button.MuiButton-root svg,
.Button.MuiButton-root svg path {
  color: white;
  fill: white;
}

/* Color primary */
.Button.MuiButton-colorPrimary,
.Button.MuiButton-colorPrimary.MuiButtonGroup-grouped {
  background-color: var(--dcl) !important;
}

.Button.MuiButton-colorPrimary:hover,
.Button.MuiButton-colorPrimary.MuiButtonGroup-grouped:hover {
  background-color: var(--dcl-dark) !important;
}

/* Color secondary */
.Button.MuiButton-colorSecondary,
.Button.MuiButton-colorSecondary.MuiButtonGroup-grouped {
  background-color: var(--dark-gray) !important;
  border-color: var(--light-gray);
}

.Button.MuiButton-colorSecondary:hover,
.Button.MuiButton-colorSecondary.MuiButtonGroup-grouped:hover {
  background-color: var(--darker-gray) !important;
}

/* Color info */
.Button.MuiButton-colorInfo,
.Button.MuiButton-colorInfo.MuiButtonGroup-grouped {
  color: var(--white);
  background-color: initial;
  border: 1px solid var(--white);
  font-weight: 400;
  padding: 2px 10px;
}

.Button.MuiButton-colorInfo:hover,
.Button.MuiButton-colorInfo.MuiButtonGroup-grouped:hover {
  background-color: var(--light-gray);
}

.Button.MuiButton-outlined,
.Button.MuiButton-outlined.MuiButtonGroup-grouped {
  background-color: transparent;
}

/* ButtonGroup */
.Button.MuiButton-root.MuiButtonGroup-grouped:not(.extra-button) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Button.extra-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: 0 !important;
  border-right: none !important;
}
