.Preferences {
  position: relative;
}

.Preferences .preferences {
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.Preferences .preferences svg {
  transform: translateX(0.5px) translateY(2px);
}

.Preferences .panel {
  display: none;
  position: absolute;
  top: 100%;
  right: 15%;
  width: 190px;
  background-color: #1e1e1e;
  z-index: 1;
  padding: 12px;
  border-radius: 4px;
  user-select: none;
}

.Preferences .panel.visible {
  display: block;
}

.Preferences .panel .icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -5px;
  top: -2px;
}

.Preferences .panel .preference-row {
  position: relative;
  padding-bottom: 2px;
}

.Preferences .panel .preference-row label {
  color: var(--secondary-text);
}
