.ErrorMessage {
  display: flex;
  align-items: center;
  color: var(--error-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  min-height: 16px;
  gap: 2px;
}

.ErrorMessage svg {
  margin: 0 !important;
}
