/* TODO: update the Modal component in ui2 to allow providing a className to the Material Modal...*/

/* AlternativeServers Modal */
.MuiModal-root .AlternativeServers {
  display: flex;
  flex-direction: column;
}

.MuiModal-root .AlternativeServers .select {
  text-align: center;
  margin-bottom: 30px;
}

.MuiModal-root .AlternativeServers .box {
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  padding: 20px;
}

.MuiModal-root .AlternativeServers .box .selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MuiModal-root .AlternativeServers .box .selection h3 {
  margin-top: 0;
}

.MuiModal-root .AlternativeServers .box .selection > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.MuiModal-root .AlternativeServers .box .selection .thumbnail {
  width: 318px;
}

.MuiModal-root .AlternativeServers .box .selection .MuiInputBase-root {
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 5px 15px;
  width: 250px;
}

.MuiModal-root .AlternativeServers .box .selection .MuiInputBase-root::before,
.MuiModal-root .AlternativeServers .box .selection .MuiInputBase-root::after {
  border: none;
}

.MuiModal-root .AlternativeServers .box .selection .custom_input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 11px;
}

.MuiModal-root .AlternativeServers .box .selection .custom_input .title {
  margin-bottom: 5px;
  display: flex;
}

.MuiModal-root .AlternativeServers .box .selection .custom_input input {
  border: none;
  background-color: var(--dark-gray);
  width: 230px;
  padding: 3px 10px;
  color: var(--white);
  border-radius: 4px;
  margin-bottom: 5px;
}

.MuiModal-root .AlternativeServers .box .selection .custom_input .error {
  color: var(--error);
}

.MuiModal-root .AlternativeServers .box .actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.MuiModal-root .AlternativeServers .box .actions .learn-more {
  text-transform: uppercase;
  text-decoration: underline;
  margin-right: 40px;
  cursor: pointer;
  font-weight: bold;
}
