.Container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: var(--modal);
  border-radius: 8px;
  margin: 12px;
}

.Container .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none
}

.Container .title svg {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.Container > span {
  margin: 0px 0px 4px 0px;
  color: var(--text);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
