.Container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: var(--base-19);
  border-radius: 2px;
  border-color: var(--base-19);
}

.Container.hover {
  background-color: var(--list-item-hover-bg-color);
}

.Container .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 4px;
}

.Container .title svg.icon {
  width: 14px;
  height: 14px;
}

.Container .title span {
  margin: 0;
  color: var(--text);
  font-size: 14px;
  cursor: pointer;
}

.Container .title .indicator {
  display: flex;
  align-self: baseline;
  font-size: 16px;
  color: var(--warning-main);
}

.Container .title .RightContent {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.Container.open > .title {
  border-bottom: 1px solid var(--base-12);
  padding-bottom: 12px;
}

.Container > .title > .RightContent > .MoreOptionsMenu > .MoreOptionsContent {
  min-width: 175px;
}

.Container .content:has(.Block > .content > .Field),
.Container.with-gap > .content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.Container .title + .content {
  margin-top: 16px;
}

.Container.border {
  border-radius: 4px;
  border: 1px solid var(--base-14);
}
