.ImportError {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-top: 60px;
}

.ImportError .alert-icon {
  background-image: url(../assets/alert.svg);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
}

.ImportError .errors {
  display: flex;
  flex-direction: column;
  color: var(--base-09);
  line-height: 26px;
}

.ImportError .errors span {
  display: flex;
  align-items: center;
}

.ImportError .errors .InfoTooltipTrigger {
  display: inherit;
  margin-left: 6px;
  cursor: pointer;
}

.ImportError .actions-container {
  display: flex;
  gap: 16px;
  width: 100%;
}

.ImportError .actions-container.space-between {
  justify-content: space-between;
}

.ImportError .actions-container.flex-end {
  justify-content: flex-end;
}
