.PlaySoundActionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.PlaySoundActionContainer .SelectField {
  width: 100%;
}

.PlaySoundActionContainer .SelectField {
  width: 100%;
}

.PlaySoundActionContainer .field.drop {
  border: 1px solid white;
}

.PlaySoundActionContainer > .row > .field.volume > .row > .TextField {
  width: 40px;
}

.PlaySoundActionContainer > .row > .field.volume > .RangeFieldContainer .RangeField .RangeTextInput {
  width: 40px;
}

.PlaySoundActionContainer
  > .row
  > .field.volume
  > .RangeFieldContainer
  .RangeField
  .RangeTextInput
  .InputContainer
  input {
  min-width: 40px;
}
