.Navbar {
  margin-bottom: 64px;
  padding: 32px 32px 0 32px;
}

.Navbar .menu {
  display: flex;
  margin-left: 32px;
  gap: 8px;
}

.Navbar .logo img {
  width: 64px;
}

.Navbar .menu .menu-item {
  color: var(--text);
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  padding: 19px 16px 17px 16px;
  color: #716b7c;
  text-decoration: none;
  box-sizing: border-box;
}

.Navbar .menu .menu-item:hover {
  background: #ffffff0d;
}

.Navbar .menu .menu-item.active {
  color: var(--text);
  border-bottom: 2px solid white;
}

.Navbar .actions {
  display: flex;
  align-items: center;
  gap: 24px;
}
