.ExpandMore .MuiButtonBase-root {
  padding: 0;
  margin-right: 4px;
}

.ExpandMore .title {
  color: var(--dcl-silver);
  text-transform: none !important;
}

.ExpandMore p {
  margin: 0;
  font-size: 11px;
  color: var(--dcl-silver);
}
