.EntityInspector {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--base-20);
  border-right: 1px solid var(--base-15, #3a3d41);
  overflow-y: auto;
  gap: 12px;
}

.EntityInspector .entity-label {
  font-size: 13px;
  padding-bottom: 12px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--border-gray);
}

.EntityInspector > .with-context-menu:empty {
  display: none;
}
