.bordered-box {
  margin: 2.4px;
  padding: 3.2px;
  border-radius: 2.4px;
  background: #21262f;
}

.bordered-box > div:first-child {
  width: 100%;
  height: 100%;
}

.bordered-box > div:first-child > div:first-child {
  width: 100%;
  height: 100%;
  background: var(--main-bg-color);
}

.bordered-box > div:first-child {
  padding: .8px;
  background: var(--main-bg-color);
}

.bordered-box > div:first-child:hover  {
  background: #127fd4;
}