.Tree {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  background-color: var(--tree-bg-color);
  color: var(--white);
  width: 100%;
}

.Tree {
  margin: 0;
  padding: 0;
}

.Tree {
  border-top: 1px solid var(--tree-border-color);
}

.Tree > div:first-child {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.Tree > div:first-child:hover,
.Tree.selected > div:first-child {
  background-color: var(--tree-border-color);
}

.Tree > div:first-child:hover span,
.Tree.selected > div:first-child span {
  text-decoration: underline;
  width: 100%;
}

.Tree > div:first-child > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Tree > div:first-child > span svg {
  margin-right: 3px;
  margin-bottom: -2px;
}

.Tree > div:first-child > span span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Tree .arrow {
  margin-right: 5px;
}

.Tree > div:first-child > span,
.Tree input {
  margin-right: 10px;
}

.Tree input {
  border: none;
  background-color: var(--input-bg-color);
  outline: var(--input-border-color);
  border-radius: 3px;
  width: 100%;
}
