.Tree {
  font-size: 13px;
  color: var(--white);
  width: 100%;
}

.Tree {
  margin: 0;
  padding: 0;
}

.Tree > div:first-child {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.Tree > div:first-child:hover:not(:has(input)),
.Tree .selected:not(:has(input)) {
  background-color: var(--vscode-accent-blue);
}

.Tree > div:first-child > div:not(.contexify) {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Tree input {
  border: none;
  background-color: var(--input-bg-color);
  outline: var(--input-border-color);
  border-radius: 3px;
  width: 100%;
  color: var(--black)
}

.Tree > .item > div > svg:only-child {
  margin-right: 4px;
}

.Tree > .item > div > svg:nth-child(2) {
  margin-right: 4px;
}

.Tree .contexify svg {
  color: var(--contexify-item-color);
  margin-right: 4px;
}

.Tree .contexify_item {
  width: 100%;
}
