.Toolbar {
  display: flex;
  background-color: #29262f;
  padding: 8px;
  width: 100%;
}

.Toolbar .undo svg,
.Toolbar .redo svg,
.Toolbar .save svg {
  transform: translateY(2px);
}

.Toolbar .undo {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.Toolbar .redo {
  margin-left: 1px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.Toolbar .babylonjs-inspector svg {
  width: 18px;
  height: 18px;
  transform: translateY(2px);
}
