:root {
  --main-bg-color: var(--vscode-editor-background, var(--background));
  --dropdown-bg-color: var(--vscode-dropdown-background, #d8d8d8);
  --dropdown-border-color: var(--vscode-dropdown-border, #b9b9b9);
  --dropdown-hover-bg-color: var(--vscode-list-hoverBackground, #e4e4e4);
  --list-item-bg-color: var(--vscode-list-dropBackground, #36343d);
  --list-item-hover-bg-color: var(--vscode-list-hoverBackground, #504e58);
  --list-smart-item-bg-color: #472550;
  --smart-item-icon-bg-color: #c640cd;
  --list-smart-item-hover-bg-color: #5f326a;
  --tree-bg-color: var(--vscode-panel-background, #252526);
  --tree-border-color: var(--vscode-panel-border, #333333);
  --input-border-color: var(--vscode-input-border, #cdcccc);
  --button-color: var(--vscode-button-foreground, var(--black));
  --title: #eeeeef;
  --text-primary: #000000de;
  --sub-text: #ffffffcf;
  --border-focused: #127fd4;

  /* DCL Colors */
  --primary-main: #ff2d54;
  --primary-dark: #f70038;
  --secondary-main: #ff7439;
  --secondary-dark: #e65002;
  /* Color definitions */
  --white: #ffffff;
  --white-gray: #e7e7e7;
  --background-gray: #3c3c3c;
  --border-gray: #454545;
  --black: #000000;
  --transparent: transparent;
  --vscode-accent-blue: #094771;
  --vscode-blue: var(--border-focused);
  --input-bg-color: #d8d8d8;
  --yellow: #ffc95b;
  --melon: #ffa25a;
  --lavender: #c640cd;
  --violet: #a524b3;
  --purple: #691fa9;
  --gray-0: #43404a;

  /* Neutrals Colors */
  --base-01: #ffffff;
  --base-02: #f0f0f0;
  --base-03: #e7e7e7;
  --base-04: #e5e5e5;
  --base-05: #d4d4d4;
  --base-06: #ccc;
  --base-07: #c6c6c6;
  --base-08: #bbb;
  --base-09: #a0a0a0;
  --base-10: #808080;
  --base-11: #7f7f7f;
  --base-12: #606060;
  --base-13: #454545;
  --base-14: #3c3c3c;
  --base-15: #3a3d41;
  --base-16: #333;
  --base-17: #303031;
  --base-18: #292929;
  --base-19: #252526;
  --base-20: #1e1e1e;
  --base-21: #000;

  /* VS Code Colors */
  --accent-blue-01: #75beff;
  --accent-blue-02: #40a6ff;
  --accent-blue-03: #39c;
  --accent-blue-04: #3794ff;
  --accent-blue-05: #0097fb;
  --accent-blue-06: #007acc;
  --accent-blue-07: #0e639c;
  --accent-blue-08: #264f78;
  --accent-blue-09: #094771;
  --accent-blue-10: #062f4a;

  /* Status Colors */
  --success-main: #4caf50;
  --success-dark: #388e3c;
  --success-light: #66bb6a;
  --error-main: #f44336;
  --error-dark: #d32f2f;
  --error-light: #ef5350;
  --warning-main: #ffc95b;
  --warning-dark: #ef6c00;
  --secondary-light: #ff8d5e;

  /* Context menu */
  --contexify-zIndex: 999;
  --contexify-menu-minWidth: 220px;
  --contexify-menu-padding: 6px;
  --contexify-menu-radius: 2px;
  --contexify-menu-bgColor: var(--dropdown-bg-color);
  --contexify-menu-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);

  --contexify-separator-color: rgba(0, 0, 0, 0.2);
  --contexify-separator-margin: 5px;
  --contexify-itemContent-padding: 6px;
  --contexify-activeItem-radius: 4px;
  --contexify-item-color: var(--vscode-dropdown-foreground, #333);
  --contexify-activeItem-color: var(--vscode-dropdown-foreground, #333);
  --contexify-activeItem-bgColor: var(--dropdown-hover-bg-color);
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: var(--contexify-item-color);
  --contexify-activeArrow-color: var(--contexify-arrow-color);

  /* Modal */
  --modal-content-bg-color: var(--tree-bg-color);
  --modal-content-border-color: var(--tree-border-color);
  --modal-overlay-bg-color: rgba(0, 0, 0, 0.6);

  /* Margins */
  --sidebar: 314px;
}
