@import '../RangeField/RangeField.css';

.RangeHour.Range.Field .RangeContainer input[type='time'] {
  width: 85px;
  padding: 4px 8px;
  background-color: var(--background-gray);
  border-radius: 4px;
  border: 1px solid var(--background-gray);
  color: var(--text);
  font-size: 14px;
  text-align: center;
}

.RangeHour.Range.Field .RangeContainer input:hover:not(:disabled) {
  border-color: var(--base-09);
}

.RangeHour.Range.Field .RangeContainer input:focus {
  outline: none;
  border-color: var(--base-01);
}

.RangeHour.Range.Field .RangeContainer input:disabled {
  background-color: var(--base-12);
  border-color: var(--base-12);
  color: var(--base-09);
  cursor: not-allowed;
}

.RangeHour.Range.Field .RangeContainer input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.RangeHour.Range.Field .RangeContainer .RangeInput {
  background: linear-gradient(
    90deg,
    #361c75 0%,
    #534787 15%,
    #bf8dac 30%,
    #46cee9 50%,
    #af80a9 70%,
    #714171 85%,
    #40247b 100%
  ) !important;
  height: 8px !important;
  border-radius: 4px !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::before,
.RangeHour.Range.Field .RangeContainer .RangeInput::after {
  background: #361c75 !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-webkit-slider-thumb {
  background: white !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-moz-range-thumb {
  background: white !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-ms-thumb {
  background: white !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-webkit-slider-runnable-track {
  background: none !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-moz-range-track {
  background: none !important;
}

.RangeHour.Range.Field .RangeContainer .RangeInput::-ms-track {
  background: none !important;
}
