.SmartItemBasicViewInspector {
  /* Local vars */
  --right-menu-width: 16px;
}

.SmartItemBasicViewInspector.Container {
  background-color: #161518;
}

.SmartItemBasicViewInspector.Container .indicator {
  align-self: center;
}

.SmartItemBasicViewInspector.Container .indicator .SmartItemBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 2px;
  width: 16px;
  height: 16px;
  background-color: var(--smart-item-icon-bg-color);
  color: var(--white);
}

.SmartItemBasicViewInspector.Container
  > .content
  > .SmartItemBasicViewSection.Container
  > .content:has(.Field + .Field) {
  display: grid;
  row-gap: 8px;
}

.SmartItemBasicViewInspector.Container .SmartItemBasicViewSection.Container {
  padding: 0;
  background-color: #161518;
}

.SmartItemBasicViewInspector.Container .SmartItemBasicViewSection.Container .Container {
  margin: 8px 0;
  background-color: #161518;
}

.SmartItemBasicViewInspector .TriggerActionContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.SmartItemBasicViewInspector .TriggerActionContainer .TriggerAction {
  display: flex;
  column-gap: 4px;
}

.SmartItemBasicViewInspector .TriggerActionContainer .TriggerAction .Fields {
  display: flex;
  width: calc(100% - var(--right-menu-width));
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 8px;
}

.SmartItemBasicViewInspector .TriggerActionContainer .TriggerAction .RightMenu {
  align-self: start;
  width: var(--right-menu-width);
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::before {
  background: #ff2d55;
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-webkit-slider-thumb {
  background: #ff2d55;
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-moz-range-thumb {
  background: #ff2d55;
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-ms-thumb {
  background: #ff2d55;
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #ff2d55 var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-moz-range-track {
  background: linear-gradient(90deg, #ff2d55 var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}

.SmartItemBasicViewInspector .Range.Field .RangeContainer .InputContainer .RangeInput::-ms-track {
  background: linear-gradient(90deg, #ff2d55 var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}
