.ProjectView {
  border-top: 0.1px solid;
  border-color: var(--border-gray);
}

.ProjectView > .Tree-View {
  border-right: 0.1px solid;
  border-color: var(--border-gray);
}

.ProjectView > .Tree-View > .with-context-menu > .editor-assets-tree {
  overflow-y: auto;
  width: 260px;
  /* Search height */
  height: calc(100% - 34px);
  padding: 0 8px 8px 8px;
}

.editor .editor-assets-tree .item > div {
  display: flex;
  align-items: center;
}

.editor .editor-assets-tree .item svg {
  margin: 0 2px;
}

.editor .editor-assets-tree .item span {
  line-height: 16px;
}

.editor .editor-assets-tree .item svg:nth-child(2) {
  margin-right: 6px;
}

.editor .editor-assets-tree .Tree {
  border: none;
}

.editor .item > span:first-child {
  position: relative;
}

.ProjectView {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.ProjectView .with-context-menu {
  height: 100%;
}

.RemoveAsset.Modal > div button {
  margin-right: 12px;
}

.ProjectView .FolderView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: left;
  overflow-y: auto;
}

.ProjectView .FolderView .with-context-menu {
  height: auto;
}
