.StatesInspector:is(.open)>.title {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 12px;
}
.StatesInspector .states-list .content {
  flex-direction: column;
}

.StatesInspector .states-list .content .TextField {
  width: 100%
}

.StatesInspector .states-list .content .row {
  display: flex;
  align-items: center;
}

.StatesInspector .states-list .content .row+.row {
  margin-top: 4px;
}