.StatesInspector.Container {
  height: auto;
}

.StatesInspector .states-list .content {
  flex-direction: column;
  align-items: normal;
}

.StatesInspector .states-list .content .Text.Field {
  width: 100%;
}

.StatesInspector .states-list .content .row {
  display: flex;
  align-items: center;
}

.StatesInspector .states-list .content .row + .row {
  margin-top: 4px;
}
