.StatesInspector .states-list .content {
  flex-direction: column;
}

.StatesInspector .states-list .content .TextField {
  width: 100%
}

.StatesInspector .states-list .content .TextField+.TextField {
  margin-top: 4px;
}
.StatesInspector:is(.open)>.title {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 12px;
}