.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--modal-content-border-color);
  background: var(--modal-content-bg-color);
  overflow: auto;
  border-radius: 3px;
  outline: none;
  padding: 20px;
  min-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ModalOverlay {
  position: fixed;
  inset: 0px;
  background-color: var(--modal-overlay-bg-color);
}
