.CreateCustomAsset {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.CreateCustomAsset .file-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: flex-start;
}

.CreateCustomAsset .file-container svg {
  width: 80px;
  height: 80px;
  padding: 8px;
  border-radius: 8px;
  background: var(--list-item-bg-color);
}

.CreateCustomAsset .preview-container {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: var(--list-item-bg-color);
  overflow: hidden;
  position: relative;
}

.CreateCustomAsset .preview-container .AssetPreview {
  display: none;
}

.CreateCustomAsset .preview-container .thumbnail {
  width: 100%;
  height: 100%;
  background-color: var(--background-gray);
  background-size: cover;
  background-position: center;
}

.CreateCustomAsset .loader-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.CreateCustomAsset .column {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CreateCustomAsset .button-container {
  display: flex;
  gap: 8px;
}

.CreateCustomAsset .create {
  background-color: var(--primary);
  color: var(--text-on-primary);
}
