.RangeField {
  display: flex;
  justify-content: center;
  width: 100%;
}

.RangeInput {
  width: calc(100% - 20px);
  appearance: none;
  position: relative;
}

.RangeInput::before,
.RangeInput::after {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.RangeInput::before {
  left: -10px;
  background: #3794ff;
}

.RangeInput::after {
  right: -10px;
  background: #7f7f7f;
}

.RangeInput::-webkit-slider-runnable-track {
  height: 10px;
  appearance: none;
  margin-top: -1px;
  background: linear-gradient(90deg, #3794ff var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}

.RangeInput::-moz-range-track {
  height: 10px;
  appearance: none;
  margin-top: -1px;
  background: linear-gradient(90deg, #3794ff var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}

.RangeInput::-ms-track {
  height: 10px;
  appearance: none;
  margin-top: -1px;
  background: linear-gradient(90deg, #3794ff var(--completionPercentage, 0%), #808080 var(--completionPercentage, 0%));
}

.RangeInput::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3794ff;
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.36));
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: absolute;
  left: calc(var(--completionPercentage) - 10px);
  z-index: 1;
}

.RangeInput::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3794ff;
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.36));
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: absolute;
  left: calc(var(--completionPercentage) - 10px);
  z-index: 1;
}

.RangeInput::-ms-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3794ff;
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.36));
  border-radius: 50%;
  cursor: pointer;
  top: -5px;
  position: absolute;
  left: calc(var(--completionPercentage) - 10px);
  z-index: 1;
}
