.MorePage .CardsSection {
  color: var(--dcl-silver);
  text-transform: uppercase;
}

.MorePage .HorizontalCardWithImage.MuiCard-root {
  display: flex;
  height: 180px;
  min-width: 368px;
  background: var(--secondary);
  cursor: default;
}

.MorePage .HorizontalCardWithImage.MuiCard-root:hover {
  outline: 2px solid var(--white);
  outline-offset: -2px;
}

.MorePage .HorizontalCardWithImage .CardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 160px;
  background-image: url("/assets/images/card-image-background.png");
  background-position: bottom;
}

.MorePage .HorizontalCardWithImage .CardImage img {
  height: 140px;
  width: 140px;
  object-fit: contain;
}

.MorePage .HorizontalCardWithImage.FlipImage .CardImage img {
  transform: scaleX(-1);
}

.MorePage .HorizontalCardWithImage .CardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.MorePage .HorizontalCardWithImage .CardContent .title {
  margin-bottom: 8px;
}

.MorePage .HorizontalCardWithImage .CardContent .CardActions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@media (max-width: 819px) {
  .MorePage .MuiGrid-item:has(.HorizontalCardWithImage) {
    min-width: 100%;
  }
}
