.Search {
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.Search .Search-icon {
  position: absolute;
  left: 10px;
  width: 14px;
  height: 14px;
  text-align: center;
  height: 100%;
  color: red;
}

.Search input {
  padding-left: 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
