.OptionContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 4px 8px;
  color: var(--base-02);
}

.OptionContainer:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.OptionContainer.DropdownSelection,
.OptionContainer.DropdownPlaceholder {
  padding: 0;
}

.OptionContainer.DropdownPlaceholder {
  color: var(--base-09);
}

.OptionContainer .OptionContent {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 4px;
  cursor: pointer;
}

.OptionContainer .Option {
  flex: 1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-wrap: nowrap;
}

.OptionContainer:not(.DropdownSelection):not(.DropdownPlaceholder):hover {
  background: var(--base-12);
}

.OptionContainer:not(.DropdownSelection):not(.DropdownPlaceholder).disabled {
  background: var(--base-14);
  color: var(--base-11);
  cursor: default;
  pointer-events: none;
}

.DropdownOptions .OptionContainer.selected {
  background: var(--base-02);
  border-color: var(--base-01);
  color: var(--text-primary);
}

.OptionContainer .LeftContent .LeftIcon {
  display: flex;
  height: 16px;
  width: 16px;
}

.OptionContainer .RightContent .SecondaryText {
  text-align: right;
  font-size: 9px;
  font-weight: 700;
}

.OptionContainer:not(.selected) .RightContent .SecondaryText {
  color: var(--base-09);
}

.OptionContainer .RightContent .RightIcon {
  display: flex;
  height: 16px;
  width: 16px;
}

.OptionContainer.error .RightContent .RightIcon {
  color: var(--error-main);
}

.OptionContainer .Description {
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
}

.OptionContainer:not(.selected) .Description {
  color: var(--base-08, #bbb);
}

.OptionContainer.DropdownSelection .Description,
.OptionContainer.DropdownSelection .RightContent {
  display: none;
}

.OptionContainer.header .OptionHeader {
  padding: 4px 8px 0 8px;
  color: var(--base-08);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.OptionContainer.header::after {
  content: '';
  height: 1px;
  background: var(--base-12);
  margin-top: 4px;
}

.OptionContainer.header {
  padding: 0;
  cursor: default;
  pointer-events: none;
}
