.VisibilityContainer:is(.open) > .title {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 12px;
}

.VisibilityContainer > .content > .Block > .content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.VisibilityContainer > .content > .Block > .content .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  gap: 4px;
}

.VisibilityContainer > .content > .Block > .content .row .field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.VisibilityContainer > .content > .Block > .content .row .DropdownContainer label,
.VisibilityContainer > .content > .Block > .content .row .field > label {
  margin: 0px 0px 6px 0px;
  color: var(--text);
  font-size: 12px;
  font-weight: 500;
}

.VisibilityContainer > .content > .Block > .content .row .field label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
