.TextField {
  padding: 4px 6px;
  border: 1px solid var(--secondary-text);
  display: flex;
  margin-right: 8px;
  border-radius: 1.6px;
  flex-grow: 1;
  width: 0;
}

.TextField:focus-within {
  border-color: var(--border-focused);
}

.TextField>label {
  color: var(--secondary-text);
  display: block;
  margin-right: 8px;
}

.TextField>input {
  width: 100%;
  color: var(--text);
  background-color: var(--transparent-color);
  outline: none;
  border: none;
}

.TextField:last-child {
  margin-right: 0px;
}

/* Chrome, Safari, Edge, Opera */
.TextField>input::-webkit-outer-spin-button,
.TextField>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.TextField>input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}