.TextField {
  padding: 2px 3px;
  background-color: var(--background-gray);
  border: 1px solid var(--background-gray);
  display: flex;
  margin-right: 8px;
  border-radius: 5px;
  flex-grow: 1;
  width: 0;
  font-size: 12px;
}

.TextField:focus-within {
  border-color: var(--border-focused);
}

.TextField > label {
  color: var(--secondary-text);
  display: block;
  margin-right: 8px;
  flex-shrink: 0;
}

.TextField > input {
  width: 100%;
  color: var(--text);
  background-color: var(--transparent);
  outline: none;
  border: none;
}

.TextField:last-child {
  margin-right: 0px;
}

.TextField > input[type=checkbox] {
  width: auto;
}
