.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.Header .left {
  display: flex;
  align-items: center;
}

.Header .right {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.Header .left h4 {
  margin: 0 20px;
  font-size: 48px;
}

.Header .left .Button {
  font-size: 12px;
}

.Header .user {
  margin-left: 24px;
}
