.ui.popup.InfoTooltip {
  border-color: #3A3D41;
  background-color: #242129;
}

.ui.popup.InfoTooltip::before {
  display: none !important;
}

.InfoTooltip a {
  color: #FFFFFF;
  text-decoration: underline;
}


.InfoTooltip a:hover {
  color: #FFFFFF;
  text-decoration: none;
}