/* Specific Select component styles */
.Select {
  padding: 4px 12px 2px 12px;
  border-radius: 8px;
}

.Select:hover,
.Select.Mui-focused {
  background-color: rgba(255, 255, 255, 0.1);
}

.Select .Mui-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.Select .MuiInput-input {
  font-weight: 600;
}

.Select svg {
  right: 8px;
}

.Select::before,
.Select::after {
  border: none !important;
}

.Select div[role="combobox"] {
  padding: 0px 24px 0px 0px;
  border: none;
  color: rgba(255, 255, 255, 0.7);
}

.SelectMenu {
  margin-top: 8px;
}

.SelectMenu .sort-item.Mui-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
