.HybridField > .InputContainer:has(.TextField .ErrorMessage) {
  align-items: flex-start;
}

.HybridField {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.HybridField .InputContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 4px;
}
