.TriggerActionsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 8px;
}

.TriggerActionsContainer > .TriggerActionsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 4px;
}

.TriggerActionsContainer > .TriggerActionsTitle span {
  color: var(--text);
  font-size: 11px;
  font-weight: 500;
}

.TriggerActionsContainer > .TriggerActionsTitle .RightContent .AddButton {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.TriggerActionsContainer > .TriggerAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.TriggerAction .MoreOptionsContent {
  min-width: 180px;
}