.TriggerActionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  gap: 8px;
  /* Local vars */
  --right-menu-width: 16px;
}

.TriggerActionsContainer > .TriggerActionsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 4px;
}

.TriggerActionsContainer > .TriggerActionsTitle span {
  color: var(--text);
  font-size: 11px;
  font-weight: 500;
}

.TriggerActionsContainer > .TriggerActionsTitle .RightContent .AddButton {
  background-color: transparent;
  border-color: transparent;
  color: white;
  justify-content: right;
  margin: 0;
  width: 26px;
}

.TriggerActionsContainer > .TriggerActionsTitle .RightContent .AddButton svg {
  width: 16px;
  height: 16px;
}

.TriggerActionsContainer > .TriggerAction {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TriggerActionsContainer > .TriggerAction > .Fields {
  display: flex;
  width: calc(100% - var(--right-menu-width));
  flex-wrap: wrap;
  align-items: center;
  gap: 12px 8px;
}

.TriggerActionsContainer > .TriggerAction > .RightMenu {
  align-self: start;
  width: var(--right-menu-width);
}

.TriggerActionsContainer > .TriggerAction > .RightMenu > .MoreOptionsMenu .MoreOptionsContent {
  min-width: 185px;
}
