.Filters {
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-top: 48px;
  margin-bottom: 24px;
  padding: 8px 16px 8px 24px;
}

.Filters .left {
  flex: 1 0 auto;
  color: var(--clear-divider);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.Filters .right {
  color: var(--clear-divider);
  display: flex;
  align-items: center;
}

.Filters .left > p,
.Filters .left > span,
.Filters .right > p,
.Filters .right > span {
  margin: 0 8px 0 0;
}
