.DropdownContainer {
  display: flex;
  flex-direction: column;
}

.DropdownContainer label {
  margin: 0px 0px 2px 0px;
  color: var(--sub-text);
  font-size: 12px;
}

.DropdownContainer .Dropdown {
  display: flex;
  border: 1px solid var(--background-gray);
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 12px;
  height: 25px;
  background: var(--background-gray);
  color: var(--text);
}
