.ImportAssetModalOverlay {
  z-index: 2;
}

.ImportAsset {
  height: 100%;
}

.ImportAsset > div:first-child {
  height: 100%;
}

.ImportAsset .children {
  height: 100%;
}

.ImportAsset .children.hidden {
  display: none;
}

.ImportAssetHover {
  padding: 8px;
}

.ImportAssetHover > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #24252b;
  color: #fff;
  padding: 6px;
  border: 2px dashed #666;
  border-radius: 8px;
  cursor: pointer;
  overflow-y: auto;
}

.ImportAssetHover > div > span:last-of-type {
  text-align: center;
}

.ImportAssetHover .upload-icon {
  background-color: var(--list-item-hover-bg-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 16px;
  flex-shrink: 0;
}

.ImportAssetHover .Container {
  overflow: visible;
  height: unset;
  background-color: var(--list-item-hover-bg-color);
  margin-right: 20px;
}

.ImportAssetHover .Container svg {
  width: 40px;
  height: 40px;
}

.ImportAssetHover .Container .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ImportAssetHover .Container .remove-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  right: -12px;
  background-color: var(--primary-main);
  border-radius: 50%;
}

.ImportAssetHover .Container .remove-icon svg {
  width: 14px;
  height: 14px;
}

.ImportAssetHover .Container .file-title {
  margin-top: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: inherit;
  text-align: center;
}

.ImportAssetHover .file-container {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.ImportAssetHover .file-container .Container {
  width: 120px;
}

.ImportAssetHover .file-container .Text.Field {
  width: auto;
  height: 24px;
}

.ImportAssetHover .file-container .error .Text.Field {
  border-color: red;
}

.ImportAssetHover .file-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ImportAssetHover .file-container > div:nth-child(2) button {
  background-color: var(--primary-main);
}

.ImportAssetHover .error {
  color: var(--primary-main);
  margin-top: 6px;
}

.ImportAssetHover .file-container .AssetPreview {
  width: 100px;
  height: 100px;
}

.ImportAssetHover .warning {
  color: var(--danger);
  margin-top: 6px;
}

.ImportAssetHover .text {
  text-align: center;
}

.ImportAssetModal h2 {
  text-align: center;
}
