.ActionInspector > .content > .Block > .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #303031;
  background: var(--tree-bg-color);
}

.ActionInspector > .content > .Block > .content .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: relative;
  column-gap: 8px;
  row-gap: 12px;
}

.ActionInspector > .content > .Block > .content .row .field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ActionInspector > .content > .Block > .content .row .field > .Text.Field {
  width: 100%;
}

.ActionInspector > .content > .Block > .content .row .field.duration .Text.Field {
  width: 50px;
}

.ActionInspector > .content > .Block > .content .row .field.duration .Text.Field input {
  min-width: 50px;
}

.ActionInspector .content .RemoveButton {
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.ActionInspector .content .Block .content .MoreOptionsMenu {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ActionInspector .content .Block .content .MoreOptionsMenu .MoreOptionsContent {
  min-width: 140px;
}

.ActionInspector .content .Block .content > .TweenActionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.ActionInspector > .content > .Block > .content .row .field.inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ActionInspector > .content > .Block > .content .row .field.inline input[type='checkbox'] {
  margin-right: 9px;
}

.ActionInspector > .content > .Block > .content .row .field.inline label {
  margin-bottom: 0;
}
