.VideoScreenBasicViewInspector {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    .Label {
      margin-left: 8px;
      text-wrap: wrap;
      width: 80%;
    }
  }

  .Title {
    font-size: 14px;
    font-weight: 400;
  }

  .Divider {
    height: 1px;
    background-color: var(--base-14);
  }

  .DefaultMediaSourcesDropdown {
    margin-top: 6px;
    max-width: 150px;

    .OptionList {
      overflow: hidden;
    }
  }
  .PanelSection {
    background-color: var(--background-dark);
  }
  .PlayBack {
    margin-top: 10px;
    margin-bottom: 10px;
    .CheckboxContainer {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
    }
  }

  .LiveStreamSection .content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .Label {
      text-wrap: wrap;
      margin-left: 8px;
      font-weight: 400;
      font-size: 11px;
    }
  }
}
