body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  max-width: 300px;
  min-width: 300px;
  background: var(--main-bg-color);
}

.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--main-bg-color);
}

/* Inspector settings */
#embed-host {
  position: absolute !important;
}

/* Babylon frame */
#main-editor {
  height: 100vh;
}
#main-editor > div:first-child {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#renderer {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
}

/* Editor assets */
.editor-assets {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  height: 48px;
}

.editor-assets.expanded {
  height: 300px;
  background: var(--tree-bg-color);
}

.editor-assets.expanded > div {
  flex: 1 1 0;
}

.editor-assets.expanded .editor-assets-title {
  width: auto;
  flex: 1 1 300;
}

.editor-assets-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 200px;
  background: var(--tree-bg-color);
  cursor: pointer;
}

.editor-assets-title > span {
  margin-left: 8px;
}