body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  height: 100%;
  max-width: var(--sidebar);
  min-width: var(--sidebar);
  background: var(--main-bg-color);
}

.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--main-bg-color);
}

/* Inspector settings */
#embed-host {
  position: absolute !important;
}

.main-editor {
  height: calc(100vh - 54px);
}


/* Babylon frame */
#renderer {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
}

/* Editor assets */
.footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--sidebar) - 16px) !important;
}

.footer>div:first-child {
  padding: 1px !important;
}

.footer .footer-buttons {
  display: flex;
  background: var(--tree-bg-color);
  height: 36px;
}

.footer .footer-buttons > div {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.footer-buttons .footer-title>span {
  margin-left: 8px;
}

.footer .footer-content {
  background: var(--tree-bg-color) !important;
  height: 250px !important;
}