.Renderer {
  flex: 1 1 auto;
  position: relative;
}

.Renderer > div:first-child {
  display: flex;
}

.Renderer > canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
  position: absolute;
}

.Renderer .loading .ui.dimmer {
  opacity: 0.5;
}
