.Container.Scene .content svg {
  cursor: pointer;
}

.Container.Scene .Block.underlined {
  border-bottom: 1px solid var(--base-14);
}

.Container.Scene .Block.underlined .Label {
  font-size: 14px;
}

.Container.Scene .SpawnPointContainer > .content {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #303031;
  background: var(--tree-bg-color);
  align-items: stretch;
}

.Container.Scene .Tabs.SceneTabs .icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Container.Scene .Tabs.SceneTabs .icon.details {
  background-image: url(./icons/details.svg);
}

.Container.Scene .Tabs.SceneTabs .icon.layout {
  background-image: url(./icons/layout.svg);
}

.Container.Scene .Tabs.SceneTabs .icon.settings {
  background-image: url(./icons/settings.svg);
}

.a {
  color: rgb(187, 77, 77);
}
