.ProjectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 256px;
  height: 240px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text);
  text-decoration: none;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: var(--secondary);
  color: var(--text);
  flex: 0 0 auto;
}

.ProjectCard .Overlay {
  background-color: var(--black);
  opacity: 0.6;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: not-allowed;
}

.ProjectCard:hover {
  border: 2px solid var(--white);
}

.ProjectCard .video {
  object-fit: cover;
}

.ProjectCard .thumbnail {
  background: no-repeat center / cover;
}

.ProjectCard .video,
.ProjectCard .thumbnail {
  width: 100%;
  height: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ProjectCard .badge {
  position: absolute;
  bottom: 85px;
  right: 10px;
  padding: 10px 12px;
  border-radius: 50px;
  background-color: var(--success);
  color: var(--black);
  font-weight: 600;
}

.ProjectCard .info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.ProjectCard .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  line-height: 24px;
  color: var(--text);
  text-decoration: none;
  min-height: 34px;
}

.ProjectCard .title .MuiTypography-root {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ProjectCard .title button {
  margin-top: -7px;
}

.ProjectCard .description {
  font-size: 14px;
  margin: 0;

  /* weird but it works & it's supported... https: //developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.ProjectCard .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  user-select: none;
  gap: 4px;
  color: #a09ba8;
  margin-top: auto;
}

.ProjectCard .content .icon {
  width: 16px;
  height: 16px;
  background-image: url(./icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}
