.VideoScreenBasicViewInspector {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.VideoScreenBasicViewInspector .Info {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.VideoScreenBasicViewInspector .Info label {
  margin-left: 8px;
  text-wrap: wrap;
  width: 80%;
}

.VideoScreenBasicViewInspector .Title {
  font-size: 14px;
  font-weight: 400;
}

.VideoScreenBasicViewInspector .Divider {
  height: 1px;
  background-color: var(--base-14);
}

.VideoScreenBasicViewInspector .DefaultMediaSourcesDropdown {
  margin-top: 6px;
  max-width: 150px;
}

.VideoScreenBasicViewInspector .DefaultMediaSourcesDropdown .OptionList {
  overflow: hidden;
}

.VideoScreenBasicViewInspector .PanelSection {
  background-color: var(--background-dark);
}

.VideoScreenBasicViewInspector .PlayBack {
  margin-top: 10px;
  margin-bottom: 10px;
}

.VideoScreenBasicViewInspector .PlayBack .CheckboxContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.VideoScreenBasicViewInspector .LiveStreamSection .content {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.VideoScreenBasicViewInspector .LiveStreamSection .content .Label {
  text-wrap: wrap;
  margin-left: 8px;
  font-weight: 400;
  font-size: 11px;
}
