.HomePage {
  flex: 1;
}

.HomePage .Card {
  position: relative;
  height: 100%;
  background: #ffffff0d;
  padding: 0px;
  gap: 16px;
  box-shadow: none;
}

.HomePage .Card .CardContent.CenteredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.HomePage .Card .CardContent .Title {
  text-align: center;
  text-wrap: pretty;
  text-transform: uppercase;
}

.HomePage .Card .CardBanner {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(180deg, #c640cd 0%, #691fa9 100%);
  border-radius: var(--mui-shape-borderRadius);
  overflow: hidden;
  z-index: 1;
  flex: none;
}

.HomePage .Card .CardBanner .CardBannerImage {
  position: absolute;
  top: -12px;
  left: 0;
  height: 128px;
  width: 128px;
  object-fit: cover;
  z-index: 0;
}

.HomePage .Card .CardBanner.Clickable {
  cursor: pointer;
}

.HomePage .Card .CardBanner.Clickable:hover {
  outline: 2px solid var(--white);
  outline-offset: -2px;
}

.HomePage .Card:has(.CardBanner + .CardContent) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: none;
}

.HomePage .Card:has(.CardBanner) .CardContent.EmptyProjects {
  border-radius: var(--mui-shape-borderRadius);
  background: #ffffff0d;
}

.HomePage .Card:has(.CardBanner) .CardContent {
  padding: 0;
  flex: 1 0 auto;
}

.HomePage .Card .CardBanner .CardBannerContent {
  align-self: flex-end;
  margin-right: 24px;
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.HomePage .Card .CardContent .CardList .CardItem {
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 16px;
  text-align: left;
  text-transform: none;
  color: var(--white) !important;
  border-radius: 8px;
  margin-left: 0;
}

.HomePage .Card .CardActions {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0;
  flex: none;
}

.HomePage .Card.SignInCard .CardContent,
.HomePage .Card.FeedbackCard .CardContent {
  height: 100%;
  box-sizing: border-box;
}

.HomePage .Card.ScenesCard .CardBanner .CardBannerImage {
  transform: scaleX(-1);
}

.HomePage .Card.ScenesCard .CardContent.CenteredContent {
  height: calc(100% - 100px);
  box-sizing: border-box;
}

.HomePage .Card.ScenesCard .CardContent.EmptyProjects h6 {
  color: #a09ba8;
}

.HomePage .Card .CardActions > .SeeAllButton {
  background-color: #ffffff0d;
  padding: 8px 22px;
  flex: none;
}

.HomePage .Card .CardActions > .SeeAllButton:hover {
  background: var(--secondary-light, #cfcdd4);
}

.HomePage .Card.FeedbackCard {
  background: linear-gradient(180deg, #c640cd 0%, #691fa9 100%);
}

.HomePage .Card.FeedbackCard img {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.HomePage .Card.SignInCard .CardContent > .SignInButton.MuiButton-root,
.HomePage .Card.FeedbackCard .CardContent > .FeedbackButton.MuiButton-root {
  /* TODO: Fix buttons color mapping in ui2 library */
  background-color: var(--white) !important;
  color: var(--black);
}

.HomePage .Card.SignInCard .CardContent > .SignInButton.MuiButton-root:hover,
.HomePage .Card.FeedbackCard .CardContent > .FeedbackButton.MuiButton-root:hover {
  background: var(--secondary-light, #cfcdd4);
}

.HomePage .Card.SignInCard .SignInButton:hover,
.HomePage .Card.FeedbackCard .FeedbackButton:hover {
  color: var(--black) !important;
}
