.assets-catalog {
  display: flex;
  height: 100%;
  padding: 8px;
  flex-direction: column;
  gap: 16px;
}

.assets-catalog .error {
  color: var(--danger);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assets-catalog .empty-search {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--base-05);
}

.assets-catalog .empty-search .empty-search-cta {
  font-weight: 700;
  text-decoration-line: underline;
  cursor: pointer;
}

.assets-catalog .assets-catalog-theme-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
