.Tile {
  display: flex;
  flex-direction: column;
  margin: 4px;
  align-items: center;
  height: 72px;
  width: 84px;
  border-radius: 8px;
  background-color: var(--tree-border-color);
  cursor: pointer;
  justify-content: space-evenly;
}

.Tile span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: inherit;
  padding: 0 6px;
  text-align: center;
  font-size: 10px;
}

.Tile svg,
.Tile img {
  width: 42px;
  height: 42px;
}

.Tile .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 1;
}

.Tile:has(.overlay) {
  position: relative;
  pointer-events: none;
}
