.Controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-left: -3px;
  width: 150px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.50);
  border: 1px solid var(--dropdown-border-color);
  background-color: var(--dropdown-bg-color);
  border-radius: 2px;
}

.Controls > div {
  border: none;
  display: flex;
  padding: 8px;
  cursor: pointer;
  background-color: var(--transparent-color);
  color: var(--button-color);
  align-items: center;
}

.Controls > div:hover {
  background-color: var(--dropdown-hover-bg-color)
}

.Controls > div svg {
  margin-right: 6px;
}

.Controls .submenu {
  justify-content: space-between;
}

.Controls .submenu > div {
  display: none;
  max-height: 300px;
  margin-left: 140px;
  margin-top: 30px;
}

.Controls .submenu:hover > div {
  display: flex;
}
