on:
  push:
  pull_request:
  release:
    types:
      - created

name: CI
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: install
        run:  npm install
      - name: build
        run:  make build
      - name: test
        run:  make test
      # - name: Publish
      #   uses: menduz/oddish-action@master
      #   with:
      #     registry-url: "https://registry.npmjs.org"
      #     access: public
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
